@mixin importFont($fontName, $fontStyle, $fontWeight, $fontFilename) {
	@font-face {
		font-family: $fontName;
		font-style: $fontStyle;
		font-weight: $fontWeight;
		src: url("#{$font-file-base}/#{$fontFilename}.eot");
		src: url("#{$font-file-base}/#{$fontFilename}.eot?#iefix") format("embedded-opentype"), url("#{$font-file-base}/#{$fontFilename}.woff") format("woff"), url("#{$font-file-base}/#{$fontFilename}.ttf") format("truetype"); 
	}
}

@include importFont("AvenirLTStd-Book", "normal", 300, "avenir/AvenirLTStd-Book");
@include importFont("AvenirLTStd-Heavy", "heavy", 500, "avenir/AvenirLTStd-Heavy");
@include importFont("Museo", "normal", 100, "museo/Museo-100");
@include importFont("Museo", "bold", 300, "museo/Museo-300");
@include importFont("Museo", "bolder", 500, "museo/Museo-500");

body {
	font-size: $font-base-size;
	font-family: $font-base-family;
	font-weight: 300;
	line-height: 1.5;	
	color: $font-color;
}