// GLOBAL COLORS
$primary: #ED1A3D;
$secondary: #1D3444;
$black: #011;
$white: #FFF;
$footer-color:  #888888;
$active-filer-color:#1566BF;
$dark-black:#000;
$input-border:#979797;
$info-box-background:#F7F7F7;
$font-color: $black;
$font-weight-bold: 500; 
// TYPOGRAPHY

