// @import '../../node_modules/bootstrap/scss/variables';benefits
// @import '../../node_modules/bootstrap/scss/mixins';

// SPECIFIC
@import "_variables";
@import "_typography";
@import "_common";
// MODULES
@import "_module_dashboard";


.driver-card{
  padding: 40px;
  border-radius: 20px; 
  border: 1px solid $input-border;
  .product-icon-container{
    height: 100px;
    width: 100px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .driver-name{
    font-weight: $font-weight-bold;
  }

  .field-label{
    font-weight: $font-weight-bold;
  }
}

