// SPECIFIC
@import "_variables";
@import "_typography";
@import "_common";



.driver-card{
  padding: 40px;
  border-radius: 20px; 
  border: 1px solid $input-border;
  .driver-photo-container{
    height: 100px;
    width: 100px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .driver-name{
    font-weight: $font-weight-bold;
  }

  .field-label{
    font-weight: $font-weight-bold;
  }
}

